#share_frm {
	max-width: 600px;
}
#share_frm h1 {
	color: #000;
	padding: 5px 0;
	font-size: 150%;
}
#share_frm h2 {
	background-color: #004977;
	padding: 5px;
	color: #FFF;
	font-size: 1em;
}
#share_frm address {
	color: navy;
	font-style: italic;
	padding-bottom: 1em;
}
#share_frm #share_reciever {
	display: block;
}
#share_frm img {
	margin-right: 5px;
}
.widget_share {
	display: inline-block;
}
.widget_share a {
	font-size: 1.4em;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	width: 1.75em;
	height: 1.75em;
	line-height: 1.75em;
}
.share .widget_share > a {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-radius: 50em;
	-moz-border-radius: 50em;
	-webkit-border-radius: 50em;
	border-width: 1px;
	border-style: solid;
}
.share .widget_share > a:hover {
	color: #111;
}
.widget_share > a:before {
	margin-right: 0;
}
.color .widget_share > a {
	color: #FFF;
	float: left;
	border-width: 5px;
	border-color: rgba(0,0,0,0.1);
	border-style: solid none none none;
	line-height: 1.6em;
}
.color .widget_share > a:hover {
	border-color: rgba(0,0,0,0.3);
}
.color .widget_share a.icon-facebook {
	background-color: #2C5FA1;
}
.color .widget_share a.icon-googleplus {
	background-color: #EB4026;
}
.color .widget_share a.icon-google {
	background-color: #D3222A;
}
.color .widget_share a.icon-twitter {
	background-color: #65CCF7;
}
.color .widget_share a.icon-comments {
	background-color: #008000;
}
.color .widget_share a.icon-email {
	background-color: #F6881F;
}
.widget_share_count {
	font-family: Arial,sans-serif;
	line-height: 1;
	overflow: hidden;
	display: inline-block;
}
.widget_share_count a {
	color: #EEE;
	padding: 0.5em 1em;
	float: left;
	margin: 0.5em 0 0.5em 0.5em;
}
.widget_share_count b {
	font-size: 3em;
	color: #CCC;
	display: block;
}
.widget_share_count span {
	color: #8a8c8e;
	font-size: 0.7em;
	float: left;
	text-align: center;
	font-weight: bold;
}
.widget_share_count .icon-facebook {
	background-color: #2C5FA1;
}
.widget_share_count .icon-twitter {
	background-color: #65CCF7;
}