.widget_personnel {
	overflow: hidden;
	clear: both;
	margin-bottom: 10px;
	position: relative;
}
.widget_personnel p {
	margin: 0;
}
.widget_personnel > div {
	position: relative;
	width: 100%;
	text-align: center;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 0;
}
.widget_personnel > .currItem {
	-moz-opacity: 1;
	filter: alpha(opacity=1);
	opacity: 1;
	z-index: 1;
}
.widget_personnel .thumbnail, .widget_personnel .name, .widget_personnel .position {
	font-weight: bold;
	display: block;
	margin: 5px;
}
.widget_personnel .thumbnail img {
	max-width: 150px;
	background-color: #FFF;
	padding: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}