h1.event:before, ul#dashboard > li.event > h3:before {
	content: '\e695';
}
span.event_color {
	display: inline-block;
	width: 16px;
	height: 16px;
	-moz-border-radius: 50em;
	-webkit-border-radius: 50em;
	border-radius: 50em;
	box-shadow: 1px 1px 1px #FFF;
}